/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Fixed Video Background iOS/Mobile Style--*/
.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#video {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  z-index: -1000;
}
.vo-da-um-soco { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.marginzinha {
  margin-left: 20%;
  margin-right: 20%;
}

.bg-black{ background-color: rgba(14,14,14,1.00)}

.carousel-caption{ top:200px}

.bg-doido{background-color:#343a40; color: aliceblue; font-weight: 600; text-align: center;}
.m-right{border: 2px solid #343a40; border-right: 2px solid white;}

.card{border: none;}
.bg-light-gray{background-color: rgba(111,111,111,0.09)}

.media img{ max-width: 120px; height: auto;}

.underline-green{width: 70px; height: 2px; background-color: lawngreen;}
.underline-blue{width: 70px; height: 2px; background-color: mediumblue;}
.underline-black{width: 70px; height: 2px; background-color: black;}

.card-body{text-align: center;}

.blog .media img{ max-width: 200px; height: auto;}

footer ul{text-decoration: none; list-style-type: none;}


/*---------------------------------------
  Contact section              
-----------------------------------------*/

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #2b2b2b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #7682cc;
  color: #ffffff;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 40vh;
}

.col-centered {
  float: none;
  margin: 0 auto;
}