<!DOCTYPE html>
<html>

<head>
    <title>Requinte Basico</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" >
    <link href="/style.css" rel="stylesheet" >
</head>

<body>
    <h1><a href="/"><img src="/images/logo.jpg" alt="Requinte Basico - Logo" ></a></h1>
    <p>We are Requinte Basico - Contact us!</p>
