<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Requinte Básico</title>
	<link rel="stylesheet" href="css/bootstrap-4.1.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/fixed.css">
	<link rel="stylesheet" href="css/social.css">
	<link rel="stylesheet" href="css/produto.css">
</head>

<body>

<!--- Start Navbar Section -->
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<a class="navbar-brand" style="margin-left: 5%; margin-right: 5%;" href="/"><img src="img/logo.svg"></a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item marginzinha">
					<a class="nav-link" href="produtos">Produtos</a>
				</li>
				<li class="nav-item marginzinha">
					<a class="nav-link" href="acessorios">Acessórios</a>
				</li>
				<!-- <li class="nav-item marginzinha">
					<a class="nav-link" href="empresa">Empresa</a>
				</li> -->
				<li class="nav-item marginzinha">
					<a class="nav-link" href="contato">Contato</a>
				</li>
			</ul>
		</div>
	
	</nav>
</div>
<!--- End Navbar Section -->

<div class="video-background">
	<div class="video-wrap">
		<div id="video">
			<img src="img/masinha.jpg" class="vo-da-um-soco">
		</div>
	</div>
</div>

<div class="caption text-center">
	<h1>Produtos</h1>
</div>

<!--- End Text Section -->

<div class="custom-container">

		<div class="container mt-0 description-box">
			<div class="row title">
				<span class="title-text">MESA <span id="strong">BILHAR PROFISSIONAL 2</strong></span>
			</div>
			<div class="row">
				<div class="underline-black"></div>
			</div>
			
			<p>
				Esta mesa possui um design tradicional, trazendo requinte ao ambiente. Podem ser feitas em multilamina ou MDF, com pedra ardósia revestida por lã, garante 70% mais durabilidade. Também possui seis pés de madeira maciça , tornando-a mais resistente. Seu diferencial? Resistência unida ao requinte que só uma mesa tradicional pode proporcionar. 
Disponibilizamos de diversas cores para a madeira. Ente em contato conosco e confira! 
				
				<br />Este modelo está dentro das normas da Confederação Brasileira de Bilhar e Sinuca.
			</p>
		</div>
		
		<div class="image-box">
			<img class="bigger" id="main-mesa" src="http://www.globilhares.com.br/r/w486-h293/product_gallery/15_1.jpg" alt="mesa1" />
			
			<ul class="colors text-center small">
				<li class="inline-block float-left active" id="table-1" data-img="1" style="width: 50px; height: 50px; margin-left: 10px; background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_1.jpg'); background-repeat: no-repeat;">
					<div class="bg" style="background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_1.jpg'); background-repeat: no-repeat;"></div>
				</li>
				<li class="inline-block float-left " id="table-2" data-img="2" style="width: 50px; height: 50px; margin-left: 10px; background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_2.jpg'); background-repeat: no-repeat;">
					<div class="bg" style="background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_2.jpg'); background-repeat: no-repeat;"></div>
				</li>
				<li class="inline-block float-left " id="table-3" data-img="3" style="width: 50px; height: 50px; margin-left: 10px; background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_3.jpg'); background-repeat: no-repeat;">
					<div class="bg" style="background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_3.jpg'); background-repeat: no-repeat;"></div>
				</li>
				<li class="inline-block float-left " id="table-4" data-img="4" style="width: 50px; height: 50px; margin-left: 10px; background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_4.jpg'); background-repeat: no-repeat;">
					<div class="bg" style="background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_4.jpg'); background-repeat: no-repeat;"></div>
				</li>
				<li class="inline-block float-left " id="table-5" data-img="5" style="width: 50px; height: 50px; margin-left: 10px; background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_5.jpg'); background-repeat: no-repeat;">
					<div class="bg" style="background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_5.jpg'); background-repeat: no-repeat;"></div>
				</li>
				<li class="inline-block float-left " id="table-6" data-img="6" style="width: 50px; height: 50px; margin-left: 10px; background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_6.jpg'); background-repeat: no-repeat;">
					<div class="bg" style="background-image: url('http://www.globilhares.com.br/r/w80-h40/product_gallery/15_6.jpg'); background-repeat: no-repeat;"></div>
				</li>
			</ul>

		</div>
</div>

<div class="main-bottom">
	<div class="grid-6 clearfix">
		<h4 class="secondary-text">CORES</h4>
		<div class="float-left dimensions-box">
			<h5 class="light upper">Tecido</h5>
			<img src="http://www.globilhares.com.br/r/w20-h20/color_bg/3_1.png">
			<img src="http://www.globilhares.com.br/r/w20-h20/color_bg/1_1.png"><br>
			<img src="http://www.globilhares.com.br/r/w20-h20/color_bg/5_1.png">
			<img src="http://www.globilhares.com.br/r/w20-h20/color_bg/4_1.png"><br>
			<img src="http://www.globilhares.com.br/r/w20-h20/color_bg/6_1.png">
			<img src="http://www.globilhares.com.br/r/w20-h20/color_bg/2_1.png"><br>
		</div>
	</div>
		
	<div class="grid-6 clearfix dimensions">
		<h4 class="light upper secondary-text">MEDIDAS</h4>
		<div style="grid-template-columns: 1fr 1fr;">
			<div class="float-left dimensions-box">
				<h5 class="light upper secondary-text">Tam. Externo</h5>
				<p>1.68 X 3.10m</p>
			</div>
			<div class="float-left dimensions-box">
				<h5 class="light upper secondary-text">Tam. Interno</h5>
				<p>1.42 X 2.84m</p>
			</div>
		</div>
	</div>
	
	<div class="clearfix accessories">
		<div class="grid-5 accessories">
			<h4 class="light upper secondary-text">ACESSÓRIOS</h4>
		<p class="acessorios-desc">
			Suporte de Tacos <br>Triângulo e Jogo de Bolas <br>Giz Profissional <br>            </p>
		</div>
		
		<a href="./contato.html" class="float-right color-white text-center bg-red transition-100 budget">Peça o orçamento</a>
	</div>
</div>

<script>
	const mesaImage = document.getElementById("main-mesa")
    const table1 = document.getElementById("table-1")
    const table2 = document.getElementById("table-2")
	const table3 = document.getElementById("table-3")
	const table4 = document.getElementById("table-4")
    const table5 = document.getElementById("table-5")
    const table6 = document.getElementById("table-6")

    table1.addEventListener('click', onTable1Click)
    table2.addEventListener('click', onTable2Click)
	table3.addEventListener('click', onTable3Click)
	table4.addEventListener('click', onTable4Click)
    table5.addEventListener('click', onTable5Click)
    table6.addEventListener('click', onTable6Click)

    function onTable1Click(event) {
        mesaImage.src = "http://www.globilhares.com.br/r/w486-h293/product_gallery/15_1.jpg"
    }

    function onTable2Click(event) {
        mesaImage.src = "http://www.globilhares.com.br/r/w486-h293/product_gallery/15_2.jpg"
    }

    function onTable3Click(event) {
        mesaImage.src = "http://www.globilhares.com.br/r/w486-h293/product_gallery/15_3.jpg"
	}
	
	function onTable4Click(event) {
        mesaImage.src = "http://www.globilhares.com.br/r/w486-h293/product_gallery/15_4.jpg"
	}

	function onTable5Click(event) {
        mesaImage.src = "http://www.globilhares.com.br/r/w486-h293/product_gallery/15_5.jpg"
	}

	function onTable6Click(event) {
        mesaImage.src = "http://www.globilhares.com.br/r/w486-h293/product_gallery/15_6.jpg"
	}
	
	
</script>



</body>

<!--- ---------------------------- FOOTER ------------------------------------- -->

<footer>
	<div class="container-fluid pt-5 pb-5 bg-dark text-light">
		<div class="container">
			<div class="row">					
				<div class="col-md-3">
					<div class="row">
						<h5>REDES SOCIAIS</h5>
					</div>
					<div class="row mb-4">
						<div class="underline bg-light"></div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<a href="https://instagram.com/requintebasicobrasil?igshid=1uia5q2gwn7pd" target="_blank"><img src="img/instagram.png" class="social-icon"></a>
						</div>
						<div class="col-md-3 col-sm-3">
							<a href="https://www.facebook.com/requintebasicobrasil/" target="_blank"><img src="img/facebook.png" class="social-icon"></a>
						</div>
						<div class="col-md-3 col-sm-3">
							<a href="https://api.whatsapp.com/send?phone=5554997064410" target="_blank"><img src="img/whatsapp.png" class="social-icon"></a>
						</div>
					</div>
				</div>

				<div class="col-md-3">
				</div>

				<div class="col-md-3">
				</div>

				<div class="col-md-3">
					<div class="row">
						<h5>© DEMI INC.</h5>
					</div>
					<div class="row mb-4">
						<div class="underline bg-light"></div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<a href="#"><img src="img/demi.png" class="social-icon"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark text-light">
		<center> Requinte Básico</center>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</html>
